@charset "UTF-8"; /*파일 인코딩 종류*/

/* 기본색상을 변수로 지정 */
:root {
    --main-color: #5D9AB2;
    --accent-color: #BF6A7A;
    --dark-color: #2B5566;
    --text-bright-color: #fff;

    --icon-color: #fff;
    --icon-bk-color: #ddd;
    --gray-color: #ddd;
    --large-width: 1000px;

    --middle-width: 800px;
}

/*기본설정 : 브레이크 포인트마다 폰트 크기 지정*/
@media (max-width: 599px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 799px) and (min-width: 600px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    :root {
        font-size: 18px;
    }
}

/*기본 폰트 설정은 폰트 크기를 따로 지정하지 않은 요소에 영향을 줄 수 있으므로, 
    영향을 주지 않게 바디의 폰트 사이즈는 브라우저의 기본 폰트 크기인 16픽셀로 설정*/
body {
    font-size: 16px;
}


/* body selector:  body 태그 선택자
   앞쪽에 있는 폰트부터 우선적으로 사용 */
body {
    /* 기본적으로 제공되는 margin을 제거 */
    margin: 0;
    font-family: '맑은 고딕',
        'Apple SD Gothic Neo',
        'sans-serif';
}

/* 콘텐츠 A - 히어로 이미지 */
.conA {
    text-align: center;
    /* url을 통해서 백그라운드 이미지 생성 */
    /* + 반투명한 검정 이미지 올리기 - 앞에 지정한 이미지가 위로 올라감 - */
    /* linear-gradient(시작지점 색, 끝지점 색) */
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(img/fruits.jpg);
    background-position: center;
    background-size: cover;

    /* vh : 화면 높이를 100vh로 하는 단위 */
    height: 100vh;

    /* 브라우저의 높이를 글자영역보다 작게 만들면 이미지가 잘리게되는 현상을 수정 */
    /* 최소높이는 내부의 내용보다 높게 지정 */
    min-height: 450px;

    /* 자식 요소에도 적용되는 flexible한 레이아웃 */
    display: flex;
    align-items: center;
    justify-content: center;

    /* :root에서 변수화한 색상 사용 */
    /* 변수를 지원하지 않는 웹브라우저에도 대응하도록 일반 변수도 미리 지정
        (순서 유의!)*/
    color: #fff;
    color: var(--text-bright-color);
}

/*list-a 에서 사용하는 형태는 따로 덮어쓰기*/
/*여러개의 클래스 이름을 공백을 넣지않고 입력하면 AND 스타일의 효과가 적용
    conA 이면서 compact인 요소만 적용된다*/
.conA.compact {
    height: 450px;
    min-height: 0;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(img/balloon.jpg);
}


.conA img {
    /* %는 부모요소를 기반으로 판정 */
    width: 20%
}

.conA h1 {
    margin-top: 0;
    margin-bottom: 10px;

    /* vw는 화면 너비를 100vw로 하는 단위(%랑 똑같이 생각하면 됨) 
        다만 너무커지면 이상하니까 아래에서 크기를 추가로 조절*/
    font-size: 15vw;
    font-family: 'Montserrat', sans-serif;

    /* em : 폰트크기 = 1em 으로 처리하는 단위 */
    letter-spacing: 0.2em;

    /* letter-spacing 이 맨 오른쪽 마진을 넣으므로, 
        맨 왼쪽 마진을 따로 넣어주어야 균형이 맞음 */
    margin-left: 0.2em;
}

.conA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

/* a로 구성되는 인라인 박스 생성 */
/* 내용에 따라 크기가 결정됨 */
.conA a {
    /* 인라인 박스라면 위아래 마진이 출력되지 않음, 따라서 속성을 블록으로 변경 */
    display: inline-block;
    margin-top: 20px;
    /* 위아래, 왼쪽오른쪽 */
    padding: 10px 30px;

    /* 실선, 테두리 두께 3픽셀, 글자와 같은 색상 */
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #BF6A7A;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);

    font-size: 14px;
    /* 링크 밑줄 제거 */
    text-decoration: none;
}

.conA a:hover {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
    );
}

/*동적 화면에 따른 '브레이크포인트' 지정*/
/*
    선택자가 같으면, 아래에 작성한 설정이 우선시된다.
    따라서, 화면 너비가 768픽셀 이상이면 @media의 속성이 위의 속성들을 덮어쓰게 된다.
*/
@media (min-width: 768px) {
    .conA h1 {
        font-size: 115px;
    }

    .conA p {
        font-size: 24px;
    }
}




/*----------------*/

.conB .container {
    padding-top: 80px;
    padding-bottom: 20px;
}

.conB .text {
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

.conB h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conB p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;

    /* 줄 높이 지정 - 1.8배 */
    line-height: 1.8;

    /* 불투명도 - 0일때 투명 */
    opacity: 0.8;
}

.conB a {
    color: #5D9AB2;
    color: var(--main-color);
    text-decoration: none;
}

.conB a:hover {
    text-decoration: underline;
}

.conB .icon {
    /*지정한 마진이 출력결과에 반영되게 하기위해, 디스플레이를 조정*/
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 40px;
    width: 2em; /*폰트크기의 2배*/
    line-height: 2em;
    border-radius: 50%; /*둥글기를 너비와 높이의 절반으로 설정하면 완전한 원이 생성됨*/
    text-align: center;

    background-color: #ddd;
    background-color: var(--icon-bk-color);
    color: #fff;
    color: var(--icon-color);
}

/*브라우저 화면 너비가 768 이상일 때 조정*/
@media (min-width: 768px) {
    .conB .container {
        /*플렉시블 레이아웃 기능으로 가로로 정렬*/
        display: flex;

        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .conB .text {
        /*각 요소를 1:1:1의 비율로 설정*/
        flex: 1;
    }
}

/*----------------*/

.conC {
    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
}

.conC .container {
    max-width: 1000px;
    max-width: var(--large-width);
    /*섹션 B 와 너비 맞추기*/
    margin-left: auto;
    margin-right: auto;
}

.conC h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conC p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conC a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;

    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #BF6A7A;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);

    font-size: 14px;
    text-decoration: none;
}

.conC a:hover {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
    );
}

.conC .photo {
    /* div class="photo" 로 구성되는 박스는 내부에 아무것도 없으므로 높이가 0이 된다 */
    /* 이러면 이미지가 나오지 않으므로, 명시적으로 지정해주어야함 */
    min-height: 200px;
    background-image: url(img/note.jpg);
    background-position: center;
    background-size: cover;
}

.conC .text {
    /* 전체 여백 지정 - 낮은 너비일때는 아래에서 조절 */
    padding: 20px;
}

@media (min-width: 768px) {
    .conC .container {
        display: flex;
    }

    /* 섹션 C 를 낮은 너비일 때는 가로로 조정*/
    /* 너비 비율을 3:2 로 지정*/
    .conC .photo {
        flex: 3;
    }
    .conC .text {
        flex: 2;
        padding: 50px;
    }
}


/*---------------*/



.conD .container {
    max-width: 1000px;
    max-width: var(--large-width);
    /*섹션 B 와 너비 맞추기*/
    margin-left: auto;
    margin-right: auto;

    /*위아래 여백크기 조절*/
    padding-top: 2px;
}

.conD h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.conD p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
}

.conD a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;

    /*border는 여러개의 실선을 만들 수 없으므로, 
    box-shadow로 실선 외부에 1픽셀 두께의 회색 그림자 생성*/
    box-shadow: 0 0 0 1px #888;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #BF6A7A;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);

    font-size: 14px;
    text-decoration: none;
}

.conD a:hover {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
    );
}

.conD .photo {
    /* div class="photo" 로 구성되는 박스는 내부에 아무것도 없으므로 높이가 0이 된다 */
    /* 이러면 이미지가 나오지 않으므로, 명시적으로 지정해주어야함 */
    min-height: 200px;
    background-image: url(img/life.jpg);
    background-position: center;
    background-size: cover;
}

.conD .text {
    /* 전체 여백 지정 - 낮은 너비일때는 아래에서 조절 */
    padding: 20px;
}

@media (min-width: 768px) {
    .conD .container {
        display: flex;

        /*순서 반대로*/
        flex-direction: row-reverse;

        /*위아래 너비지정*/
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /* 섹션 D는 사진 텍스트 위치 반대로, 사진은 400픽셀 고정 */
    .conD .photo {
        flex: 0 0 400px;
    }
    .conD .text {
        flex: 1;
        padding: 50px;
    }
}


/* FOOTER */
footer {
    color: #fff;
    color: var(--text-bright-color);
    background-color: #2B5566;
    background-color: var(--dark-color);
}

/*푸터 안 여백 지정*/
footer .container {
    padding: 40px 20px;
}

/*푸터 클래스들을 통째로 정렬 : 너비 지정 안하면 모두 같은 너비를 가짐*/
@media (min-width: 768px) {
    footer .container {
        display: flex;

        /*100% 넘은 요소들을 밑으로 내림*/
        flex-wrap: wrap;

        /*다른 섹션과 너비 맞추기*/
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    /*가로로 정렬하고 싶은 요소를 너비가 100%가 되도록 설정
    100% 이상의 요소들은 flex-wrap으로 인해 내려감
    나머지, 즉 여기서 저작권은 밑으로 내려감*/
    .footA {
        flex: 0 0 40%;
    }
    .footB {
        flex: 0 0 60%;
    }
    .footC {
        flex: 0 0 100%;
    }
}

.footA {
    margin-bottom: 30px;
}

/*푸터 A : 사이트 정보*/
.footA h2 {
    margin-top: 0;
    margin-bottom: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    letter-spacing: 0.2em;
}

.footA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.footA a {
    /*링크의 밑줄을 제거하고, 주소와 같은 글자색 지정*/
    color: inherit;
    text-decoration: none;
}


.footB div {
    padding-bottom: 20px;
}

.footB h3 {
    margin-top: 0;
    margin-bottom: 10px;

    /*같은 색상의 밑줄 긋기*/
    border-bottom: solid 1px currentColor;
    font-size: 14px;
}

/* ul 주변에는 기본적으로 여백이 들어가므로, 없애준다 */
.footB ul {
    margin: 0;
    padding: 0;
    /*리스트 마크 제거*/
    list-style: none;
}

/*링크를 제목과 같은 색상으로 설정*/
.footB a {
    /*블록박스 만들기
    이렇게 하면 <a>로 구성되는 박스의 너비가 글자에 맞춰지는 것이 아니라
    부모요소(여기는 푸터)에 맞춰 너비를 갖게 된다*/
    display: block;

    /*이 패딩은 박스 내부에 들어감*/
    padding: 5px;

    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.footB a:hover {
    background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
    /*푸터 메뉴들을 가로로 정렬
    flex는 div개수에 상관없이 같은 비율의 너비로 분할시킨다*/
    .footB {
        display: flex;
    }

    /*1:1:1 비율로*/
    .footB div {
        flex: 1;
    }

    /*첫번째 이후부터 간격 조절
      not : 괄호 내부와 일치하지 않을 경우 선택
      :first-child : 첫번째 자식 선택*/
    .footB div:not(:first-child) {
        margin-left: 40px;
    }
}

/*저작권 문구 중앙에 삽입*/
.footC {
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/* Footer D */

.footD {
    margin-top: 20px;
}

/* ul 주변에는 기본적으로 여백이 들어가므로, 없애준다 */
.footD ul {
    /*가로로 정렬*/
    /*너비 관계없이 항상 가로로 출력하므로 media 사용 안함*/
    display: flex;

    margin: 0;
    padding: 0;
    /*리스트 마크 제거*/
    list-style: none;
}

/*링크를 제목과 같은 색상으로 설정*/
.footD a {
    /*블록박스 만들기
    이렇게 하면 <a>로 구성되는 박스의 너비가 글자에 맞춰지는 것이 아니라
    부모요소(여기는 푸터)에 맞춰 너비를 갖게 된다*/
    display: block;

    color: inherit;
    font-size: 16px;
    text-decoration: none;

    /*둥근 테두리로 아이콘 감싸기*/
    padding: 0;
    border: solid 1px currentColor;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;

    /*간격 벌리기*/
    margin-right: 8px;
}

.footD a:hover {
    background-color: rgba(0,0,0,0.3);
}



/*------ HEADER -------*/

header {
    /*헤더를 히어로이미지 위에 중첩시키기*/
    /*헤더가 다른 레이어로 나뉘게되어, 포지션이 지정되지 않은 다른 요소위에 중첩됨*/
    /*포지션을 지정하지 않은 다른 요소들은 헤더를 존재하지 않는 것으로 인식*/
    position: absolute;
    /*다른 레리어로 옮겨진 헤더의 위치를 브라우저 화면 기준으로 다시 지정*/
    top: 0;
    left: 0;
    /*헤더가 가장 위에 보이게 지정 + 너비를 꽉채우도록 함*/
    z-index: 100;
    width: 100%;
    /*반투명*/
    background-color: rgba(255,255,255,0.9);
}

/*콘텐츠 페이지에서는 헤더 중첩을 제거*/
.nohero header {
    position: static;

    /*밑줄 넣기*/
    border-bottom: solid 1px #ddd;
    border-bottom: solid 1px var(--gray-color);
}

.headA {
    /*사이트 이름박스 크기 조절*/
    display: inline-block;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

/* ul 주변에는 기본적으로 여백이 들어가므로, 없애준다 */
.headB ul {
    margin: 0;
    padding: 0;
    /*리스트 마크 제거*/
    list-style: none;
}

/*링크를 제목과 같은 색상으로 설정*/
.headB a {
    /*블록박스 만들기
    이렇게 하면 <a>로 구성되는 박스의 너비가 글자에 맞춰지는 것이 아니라
    부모요소(여기는 푸터)에 맞춰 너비를 갖게 된다*/
    display: block;

    /*이 패딩은 박스 내부에 들어감*/
    padding: 15px;

    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.headB a:hover {
    background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
    /*두 요소를 양쪽 끝에 배치*/
    header .container {
        /*둘 다 너비를 따로 지정하지 않아 콘텐츠 크기에 맞춰짐*/
        display: flex;

        /*세로 방향으로 중앙 정렬 및 왼쪽오른쪽 끝방향에 위치하도록*/
        align-items: center;
        justify-content: space-between;

        /*너비 맞추기*/
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    /*큰 화면에서는 리스트를 가로로 조정*/
    .headB ul {
        display: flex;
    }
}

/*작은화면 전용 설정: 토글버튼 위치 조정*/
@media (max-width: 768px) {
    header .container-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /*토글 버튼 테두리와 배경 제거*/
    .headC {
        /*여백*/
        margin-right: 10px;
        padding: 0;
        /*테두리*/
        border: none;
        outline: none;
        background: none;
        font-size: 28px;
        opacity: 0.5;
        /*마우스를 댔을 때 커서를 손 모양으로*/
        cursor: pointer;
    }

    .headC:hover {
        opacity: 0.3;
    }

    /*버튼 누르기 전까지 보이지 않기*/
    .headB {
        display: none;
    }
}


/*큰화면 전용 설정: 토글 버튼 없애기*/
@media (min-width: 768px) {    
    .headC {
        display: none;
    }

    /*항상 메뉴가 보이게 설정
    block: 보이게 만듬
    !important: 우선적으로 적용됨*/
    .headB {
        display: block !important;
    }
}





/*----------*/
/*CONTENTS.HTML*/

.post .container {
    padding: 30px 10px;

    max-width: 800px;
    max-width: var(--middle-width);

    margin-left: auto;
    margin-right: auto;
}

/* 2rem : 기본 폰트 크기의 2배 */
.post h1 {
    /*제목 앞에 빨간 바 추가*/
    padding-left: 0.5rem;
    border-left: solid 0.75rem #BF6A7A;
    border-left: solid 0.75rem var(--accent-color);

    font-size: 2rem;
}

.post p {
    font-size: 1rem;

    /*줄 높이는 폰트 크기의 2배*/
    line-height: 2;
}

.post img {
    /*이미지를 기사의 너비에 맞게 출력*/
    /*width가 아닌 max-width를 100%로 지정하면
    기사의 너비가 이미지보다 작을 때, 이미지크기를 축소시킨다
    기사의 너비가 원래 이미지보다 크면, 원래 이미지 크기대로 출력 */
    max-width: 100%;
}




/* 콘텐츠 페이지 : 빵 부스러기 리스트 */
.bread ol {
    /*가로형으로 설정*/
    display: flex;

    margin: 0;
    padding: 0;

    /*리스트 마크 제거*/
    list-style: none;
}

/*링크를 제목과 같은 색상으로 설정*/
.bread a {
    /*블록박스 만들기
    이렇게 하면 <a>로 구성되는 박스의 너비가 글자에 맞춰지는 것이 아니라
    부모요소(여기는 푸터)에 맞춰 너비를 갖게 된다*/
    display: block;

    /*이 패딩은 박스 내부에 들어감*/
    padding: 5px;

    color: inherit;
    /*기본 폰트 크기를 기반으로한 폰트 크기 설정*/
    font-size: 0.875rem;
    text-decoration: none;
}

/*구분 문자를 불러와서 각각의 간격 만들기*/
.bread a:after {
    margin-left: 10px;
    content: '\f054';
    font-family: "FontAwesome";
    opacity: 0.3;
}

.bread a:hover {
    background-color: rgba(0,0,0,0.3);
}




/*---------------*/
/*ABOUT*/


.history {
    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
}

.history .container {
    max-width: 1000px;
    max-width: var(--large-width);
    /*섹션 B 와 너비 맞추기*/
    margin-left: auto;
    margin-right: auto;
}

.history h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.history .photo {
    /* div class="photo" 로 구성되는 박스는 내부에 아무것도 없으므로 높이가 0이 된다 */
    /* 이러면 이미지가 나오지 않으므로, 명시적으로 지정해주어야함 */
    min-height: 300px;
    background-image: url(img/plant.jpg);
    background-position: center;
    background-size: cover;
}

/*연월과 이벤트 그룹을 실선으로 구분*/
/*HISTORY 밑의 맨 윗선*/
.history table {
    border-collapse: collapse;
    border-top: solid 1px #ddd;
    border-top: solid 1px var(--gray-color);

    font-size: 0.875rem;
}

.history th,
.history td {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;

    border-bottom: solid 1px #ddd;
    border-bottom: solid 1px var(--gray-color);
}

/*연월의 줄바꿈 막기*/
.history th {
    padding-right: 1rem;
    text-align: left;
    word-break: keep-all;
}

@media (min-width: 768px) {
    .history .container {
        display: flex;
    }

    /* 섹션 C 를 낮은 너비일 때는 가로로 조정*/
    /* 너비 비율을 3:2 로 지정*/
    .history .photo {
        flex: 3;
    }
    .history .text {
        flex: 2;
        padding: 50px;
    }
}



/*----------------*/
/*CONTACT*/

/*전화 및 이메일 버튼박스 만들기*/
.contact {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 1px #ddd;
    border: solid 1px var(--gray-color);
    text-align: center;
}

/*아이콘 동그랗게 만들기*/
.contact span {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2.2rem;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: #fff;
    color: var(--icon-color);
}

.contact h2 {
    margin-top: 0;
    font-size: 1.2rem;
}

.contact a {
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none;
}

/*래핑된 박스를 가로로 정렬*/
@media (min-width: 768px) {
    .contact-wrap {
        display: flex;
    }

    .contact {
        flex: 1;
    }

    .contact:first-child {
        margin-right: 20px;
    }
}


/*문의 페이지: 제목 박스 만들기*/
.location h2 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 1.5rem;
    text-align: center;
}

/*문의 페이지: 지도 프레임 맞추기*/
.location iframe {
    padding-top: 2px;
    width: 100%;
    height: 400px;

    /*지도 아래의 의도치 않은 여백 제거*/
    vertical-align: bottom;
}

/*----------------*/
/*list-a*/

/*카드 형태 만들기*/
.listA a {
    margin: 10px;
    display: block;
    border: solid 1px #ddd;
    border: solid 1px var(--gray-color);
    color: inherit;
    text-decoration: none;
}

.listA a:hover {
    opacity: 0.8;
}

.listA .photo {
    min-height: 150px;
    background-position: center;
    background-size: cover;
}

.listA text {
    margin: 10px;
}

/*너비 관계없이 일정하게 출력하고 싶을 땐 px 사용*/
.listA h2 {
    font-size: 18px;
}

.listA p {
    font-size: 14px;
    opacity: 0.8;
}

/*
    Note
    - 색상은 대소문자를 구별하지 않음
    - 16진수 색은 같은 값을 반복할때 한하여 3자리 수로 지정할 수 있음
*/





